<div class="livere-card card" data-aos="fade-up">
    <!-- 来必力新版 (V11) 安装代码 -->
    <div id="lv-container" class="card-content">
        <livere-comment client-id="<%- theme.livere.clientId %>"  data-lang="zh_CN"></livere-comment>
    </div>
    <script type="module" src="https://www.livere.org/livere-widget.js"></script>
    <!-- 新版安装代码已完成 -->
</div>
